<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plaza Building</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="shortcut icon"
      href="./img/logo/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="nav" id="nav">
        <div class="nav__container container">
          <div class="nav__row row">
            <div class="col-2 nav__brand">
              <a href="index.html">
                <img
                  class="brand__pic blue-brand"
                  src="./img/logo/brand.svg"
                  alt=""
                />
                <img
                  class="brand__pic white-brand"
                  src="./img/logo/brand-white.svg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-8 links">
              <ul class="nav__links" id="navLinks">
                <li class="nav__link"><a href="#">О нас</a></li>
                <li class="nav__link"><a href="#">Услуги</a></li>
                <li class="nav__link"><a href="#">Этапы</a></li>
                <li class="nav__link"><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="num col-2">
              <img src="./img/logo/phone.svg" class="nav__logo" alt="" />
              <a class="mecha" href="tel:+998977776666">+998 97 777 66 66</a>
            </div>
            <div class="collapse" id="collapse">
              <div class="collapser"></div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="page__top">
        <div class="container">
          <h1 class="page__title">О нас</h1>
          <div class="crumbs">
            <a href="#" class="last__page"> Главный </a> /
            <p class="this__page">О нас</p>
          </div>
        </div>
      </section>

      <section class="page__content">
        <div class="container">
          <div class="row con__row">
            <div class="col-md-6 col-xs-12">
              <p class="content__txt">
                Уже всем полюбившиеся самые именитые парки, зоны отдыха,
                гостиницы, многоэтажные дома, успевшие стать
                достопримечательностями нашего города говорят о профессионализме
                нашей работы. Мы сотрудничаем с мировыми и государственными,
                частными и специальными компаниями по строительству, созданию
                уникальных проектов и реставрации.
              </p>
            </div>
            <div class="col-md-6 col-xs-12">
              <p class="content__txt">
                Мы ответственно относимся к проекту, работаем над каждой
                деталью, продумываем концепции и работаем не покладая рук.
                Довольные клиенты - Наша гордость.
              </p>
            </div>
          </div>
        </div>
        <div class="about__page-img">
          <img src="./img/about-page.jpg" alt="" class="about__page-pic" />
        </div>
      </section>

      <section class="page__nums">
        <div class="container">
          <div class="row num-row">
            <div class="col-md-3 col-sm-6 num__item rot">
              <div class="flexer">
                <p class="plus">+</p>
                <p id="num" class="big__num">7</p>
              </div>
              <div class="num__txt">лет на рынке</div>
            </div>
            <div class="col-md-3 col-sm-6 num__item rot-rev">
              <div class="flexer">
                <p class="plus">+</p>
                <p id="num" class="big__num">80</p>
              </div>
              <div class="num__txt">завершенных проектов</div>
            </div>
            <div class="col-md-3 col-xs-6 num__item cir">
              <div class="flexer">
                <p class="plus">+</p>
                <p id="num" class="big__num">50</p>
              </div>
              <div class="num__txt">технического оборудования</div>
            </div>
            <div class="col-md-3 col-xs-6 num__item cir">
              <div class="flexer">
                <p class="plus">+</p>
                <p id="num" class="big__num">200</p>
              </div>
              <div class="num__txt">квалифицированных сотрудников</div>
            </div>
          </div>
        </div>
      </section>

      <section class="banner">
        <div class="container">
          <p class="big__txt">
            Если хотите узнать о Нашем величии взгляните на построенные нами
            сооружения.
          </p>
          <p class="big__author">Сахибкиран (Амир Темур)</p>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <div class="footer__brand">
              <a href="index.html" class="link">
                <img src="./img/logo/brand.svg" alt="" />
              </a>
            </div>
            <div class="footer__socs">
              <p class="soc__title">Мы в социальных сетях</p>
              <div class="socs">
                <a href="#" class="soc">
                  <img src="./img/logo/facebook.svg" alt="" />
                </a>
                <a href="#" class="soc">
                  <img src="./img/logo/instagram.svg" alt="" />
                </a>
                <a href="#" class="soc">
                  <img src="./img/logo/telegram.svg" alt="" />
                </a>
                <a href="#" class="soc">
                  <img src="./img/logo/youtube.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="footer__info">
              <p>Copyright © 2022 <br />Plaza Building</p>
              <p>Все права защищены.</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-6 links__wrapper">
            <div class="footer__links">
              <p class="foot__liltitle mb-3">Меню</p>
              <ul>
                <li>
                  <a href="#" class="foot__link">О нас</a>
                </li>
                <li>
                  <a href="#" class="foot__link">Услуги</a>
                </li>
                <li>
                  <a href="#" class="foot__link">Этапы</a>
                </li>
                <li>
                  <a href="#" class="foot__link">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 add__wrapper">
            <div class="foot__address">
              <p class="foot__liltitle mb-3">Адрес</p>
              <div class="add__item">
                <div class="topp">
                  <img src="./img/logo/map.svg" alt="" />
                  <p class="foot__liltitle">USA:</p>
                </div>
                <p class="add__txt">
                  1321 Upland Dr. PMB 792; Houston, TX; 77043-4718
                </p>
              </div>
              <div class="add__item">
                <div class="topp">
                  <img src="./img/logo/map.svg" alt="" />
                  <p class="foot__liltitle">UK:</p>
                </div>
                <p class="add__txt">86-90 Paul street, EC2A 4NE, London</p>
              </div>
              <div class="add__item">
                <div class="topp">
                  <img src="./img/logo/map.svg" alt="" />
                  <p class="foot__liltitle">Turkey:</p>
                </div>
                <p class="add__txt">Kolektif House, Maslak 42 – Istanbul</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <p class="foot__liltitle mb-3">Контакты</p>
            <div class="con__item">
              <img src="./img/logo/call_black.svg" alt="" />
              <a href="tel:+19402940150" class="con__txt">+19402940150 USA</a>
            </div>
            <div class="con__item">
              <img src="./img/logo/call_black.svg" alt="" />
              <a href="tel:+19402940150" class="con__txt">+19402940150 USA</a>
            </div>
            <div class="con__item">
              <img src="./img/logo/map.svg" alt="" />
              <p class="con__txt">info@plazabuilding.com</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
